* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/******************
Color Scheme
*****************/
$primary: hsl(180, 66%, 49%);
$primary1: #3b3054;
$secondary: hsl(0, 87%, 67%);
// Neutral
$Gray: hsl(0, 0%, 87.5%);
$Grayish-voilet: hsl(252, 2%, 53%);
$Dark-blue: #35323e;
$Dark-voilet: hsl(260, 8%, 14%);
/******************
 Default Styles
***************/
body {
  background-color: rgb(255, 255, 255);
}
ul {
  list-style: none;
  display: flex;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: $Grayish-voilet;
}
.container {
  max-width: 1440px;
  min-width: 250px;
  width: 90%;
  margin: 0 auto;
}
.hambburger {
  display: none;
}
/***************
Header
***************/
header {
  padding: 30px 0;
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      display: inline-flex;
      img {
        width: 100px;
      }
    }
    .main-nav-links {
      margin-left: 10px;
      flex: 1;
      li {
        padding: 0 10px;
        a:hover {
          color: $Dark-blue;
        }
      }
    }
    .main-nav-auth {
      display: flex;
      align-items: center;
      a {
        padding: 0 20px;
      }
      a:hover {
        color: $Dark-blue;
      }
    }
  }
}
//Utilities
.btn {
  padding: 8px 25px;
  border: 2px solid $primary;
  border-radius: 30px;
  background-color: $primary;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
}
.bg-line {
  width: 100%;
  height: 5px;
  background: $primary;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  .col-1 {
    flex-basis: 50%;
    h1 {
      font-size: 3rem;
      color: $Dark-blue;
      line-height: 1;
      margin: 10px 0;
    }
    p {
      color: $Grayish-voilet;
    }
    .btn {
      margin-top: 30px;
    }
  }
  .col-2 {
    flex-basis: 50%;
  }
}
.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-image: url("/images/bg-shorten-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  .search {
    padding: 10px 0;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
  }

  .cta {
    border-radius: 10px;
  }
}
.shorted-links {
  .link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7px 0;
    background: #fff;
    margin: 10px 0;
    li {
      list-style: none;
    }
    a {
      margin: 0 10px;
      color: $primary;
    }
    .copy {
      padding: 5px 20px;
      border-radius: 10px;
    }
  }
}
.statistics {
  background: $Gray;
  padding: 150px 0;
  margin-top: -133px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27em;
  .heading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stats__heading {
    width: 500px;
    text-align: center;
    margin-bottom: 100px;
    h2 {
      color: $Dark-blue;
    }
    p {
      color: $Grayish-voilet;
    }
  }
}
.stats__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  .card {
    max-width: 250px;
    background: #fff;
    padding: 13px 25px 5px 20px;
    border-radius: 20px;
    color: $Dark-blue;
    p {
      color: $Grayish-voilet;
      font-weight: 400;
    }
    div {
      position: relative;
      top: -15px;
      max-width: 270px;
    }
    .profile {
      width: 37px;
      background: #3b3054;
      border-radius: 50px;
      border: 2px solid #3b3054;
      padding: 6px;
      position: relative;
      top: -50px;
      left: 10px;
    }
  }
}
.url-shorten {
  position: relative;
}
.boost-your-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: url("/images/bg-boost-desktop.svg");
  background-position: center;
  color: #fff;
  div {
    text-align: center;
  }
}
.footer {
  background: $Dark-blue;
  padding: 50px;
  .inner-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    // text-align: center;
    // height: 25em;
    align-items: center;
    .footer-logo {
      width: 150px;
      display: flex;
      flex-direction: column;
      height: 100%;
      img {
        margin: 10px 0;
        cursor: pointer;
      }
    }
    .footer-links {
      display: flex;
      flex-direction: column;
      li {
        cursor: pointer;
      }
      span {
        color: #fff;
        font-weight: 600;
      }
      ul {
        display: block;
        color: $Grayish-voilet;
        li:hover {
          color: $primary;
        }
      }
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  &__body {
    max-width: 396px;
    background: $primary1;
    width: 331px;
    width: clamp(241px, 300px, 375px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 309px;
    justify-content: space-around;
    top: 70px;
    padding: 10px;
    border-radius: 45px;
    position: absolute;
    hr {
      width: 100%;
    }
    .cross {
      position: absolute;
      top: 20px;
      right: 45px;
    }
    &__links {
      flex-direction: column;
      text-align: center;
      margin-top: 30px;
      li {
        margin-bottom: 10px;
        a {
          color: #fff;
        }
      }
    }
    &_cta {
      margin-top: 20px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin-bottom: 10px;
        color: #fff;
      }
    }
  }
}
label {
  display: block;
  margin-right: 170px;
  font-size: 0.9rem;
  color: $secondary;
}
@media (max-width: 880px) {
  //  Header
  header {
    .main-nav {
      justify-content: space-between;
    }
  }
  header {
    .main-nav {
      .main-nav-links,
      .main-nav-auth {
        display: none;
      }
    }
  }
  .hambburger {
    display: block;
  }
  .container {
    overflow: hidden;
  }
  .hero {
    flex-direction: column-reverse;
    .col-1 {
      h1 {
        font-size: 3rem;
      }
    }
  }
  .search-section {
    flex-direction: column;
    .search {
      max-width: 350px;
      margin: 10px auto;
    }
    .cta {
      padding: 5px 118px;
      margin-top: 14px;
    }
  }
  .link {
    flex-direction: column;
    div {
      display: flex;
      flex-direction: column;
      a {
        margin: 10px 0;
      }
    }
  }
  .heading-box .stats__heading {
    width: 100%;
  }
  .stats__card {
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
    .card {
      margin: auto;
    }
  }
  .statistics {
    height: 70em;
    padding: 50px 0;
  }
  .footer {
    padding: none;
    .inner-footer {
      height: 25em;
      text-align: center;

      grid-template-columns: repeat(1, 1fr);
    }
  }
  label {
    display: block;
    margin-right: 170px;
    font-size: 0.9rem;
    color: $secondary;
  }
}
